<%-include('cabecalho.ejs')%>
    <form method="post" enctype="multipart/form-data">
        Nome: <input type="text" name="nome" placeholder="Digite seu nome."/><br>
        Email: <input type="text" name="email" placeholder="Digite seu e-mail."/><br>
        Senha: <input type="password" name="senha" placeholder="Crie uma senha para cadastro"/><br>
        Experiência de trabalho com arte: <input type="number" name="exp_trabalho" placeholder="Digite seu tempo de experiência com arte"/><br>
        Data de nascimento: <input type="date" name="datanasc" placeholder="Digite sua data de nascimento"/><br>
        Foto: <input type="file" name="foto"/><br>
        
        <input type="submit" value="Confirmar"/>
    </form>
<%-include('rodape.ejs')%>
